# Streamlit Dependency
streamlit
# Datasciance Dependencies
numpy==1.21.2
pandas==1.3.2
# Pretty Map Dependencies (Numpy needed for plotting)
git+https://github.com/chrieke/prettymapp.git
osmnx==1.2.2
folium==0.12.1
