streamlit
# streamlit-profiler
#../prettymapp
osmnx==1.2.2
folium==0.12.1
git+https://github.com/chrieke/prettymapp.git
# geopandas
# geopy
# geocoder
# geopy
# geoplot
# geoviews
# geoviews
# geoviews
# geoviews
